.hero {
    position: relative;
}

.hero-img {
    height: auto;
    width: 100%;
}

.hero-heading {
    border: 2px solid hsl(0, 0%, 100%);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 35px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: hsl(0, 0%, 100%);
    margin: 0 30px;
    padding: 20px;
    position: absolute;
    top: 40%;
    left: 0;
}

/* mobile */
@media (max-width: 640px) {

}

/* tablet */
@media (min-width: 641px) and (max-width: 1007px) {
    .mobile {
        display: none;
    }
}

/* desktop */
@media (min-width: 1008px) {
    .mobile {
        display: none;
    }
}